* {
    box-sizing: border-box;
}

.global {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 960px;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-family: 'Georgia', Times, Times New Roman, serif;
    border-bottom: 2px solid #cccccc;
}

.name-container {
    display: flex;
    align-items: flex-end;
    width: 650px;
}

.my-name {
    background-color: #4aaaa5;
    color: white;
    font-size: 28px;
    font-weight: bold;
    width: 250px;
    height: 80px;
    line-height: 80px;
    text-align: center;
}

.nav-bar  {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 270px;
    color: #777777;
}

a {
    text-decoration: none;
    color: #777777;
}

.nav-left {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    width: 90px;
    height: 20px;
    line-height: 20px;
    text-align: center;
}

.nav-center {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    width: 90px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    border-left: 2px solid lightgray;
    border-right: 2px solid #dddddd;
}

.nav-right {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    width: 90px;
    height: 20px;
    line-height: 20px;
    text-align: center;
}

.main-section {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-image: url(../images/spiration-light.png);
    padding-top: 40px;
    padding-bottom: 40px;
}

.my-bio {
    width: 650px;
    background-color: #ffffff;
    border: 2px solid #dddddd;
    padding-left: 10px;
    padding-right: 10px;
}

.line-break {
    border: 1px solid #dddddd;
    margin-top: 10px;
    margin-bottom: 20px;
    width: 620px;
}

.about-me, .portfolio, .contact {
    font-family: 'Georgia', Times, Times New Roman, serif;
    color: #4aaaa5;
    font-size: 26px;
    font-weight: bold;
    margin: 20px;
    padding-left: 10px;
}

.my-picture {
    float: left;
    padding-left: 10px;
    margin-right: 20px;
    margin-bottom: 10px;
}

.bio-text {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777777;
    line-height: 1.3;
}

.portfolio-items {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.portfolio-1-image {
    background-image: url(../images/mountain-1.jpg);
    width: 250px;
    height: 250px;
    margin-bottom: 20px;  
}

.portfolio-2-image {
    background-image: url(../images/mountain-2.jpg);
    width: 250px;
    height: 250px;
    margin-bottom: 20px;  
}

.portfolio-3-image {
    background-image: url(../images/mountain-3.jpg);
    width: 250px;
    height: 250px;
    margin-bottom: 20px;  
}

.portfolio-4-image {
    background-image: url(../images/mountain-4.jpg);
    width: 250px;
    height: 250px;
    margin-bottom: 20px;  
}

.portfolio-5-image {
    background-image: url(../images/mountain-5.jpg);
    width: 250px;
    height: 250px;
    margin-bottom: 20px;  
}

.portfolio-6-image {
    width: 250px;
    height: 250px;
}

.portfolio-1-text, .portfolio-2-text, .portfolio-3-text, .portfolio-4-text, .portfolio-5-text  {
    background-color: #4aaaa5;
    width: 250px;
    height: 50px;
    margin-top: 190px;
  }
  
  .portfolio-text {
    font-family: 'Georgia', Times, Times New Roman, serif;
    font-size: 20px;
    color: white;
    line-height: 50px;
    text-align: center;
  }

.form {
    padding-left: 30px;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

.form p {
    color: lightgray;
    margin-bottom: 10px;
}

input, textarea {
    margin-top: 10px;
}

.name, .email {
    color: lightgray;
}

.submit-button {
    background-color: #4aaaa5;
    color: white;
    font-size: 18px;
    text-align: center;
    border: none;
    width: 120px;
    height: 40px;
    line-height: 40px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.social-media   {
    display: flex;
    flex-direction: column;
    width: 270px;
    height: 150px;
    background-color: #ffffff;
    border: 2px solid #dddddd;
    padding: 30px;
}

.connect-me {
    font-family: 'Georgia', Times, Times New Roman, serif;
    font-size: 22px;
    color:#4aaaa5;
    font-weight: bold;
    text-align: center;
}

.line-break-2 {
    border: 1px solid lightgray;
    margin-top: 10px;
    margin-bottom: 10px;
}

.icons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #666666;
    color: lightgrey;
    border-top: 5px solid #4aaaa5;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    font-size: 10px;
}

.footer-text {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    width: 1040px;
}